html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Sulphur Point';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Sulphur Point Regular'), local('SulphurPoint-Regular'), url(https://fonts.gstatic.com/s/sulphurpoint/v1/RLp5K5vv8KaycDcazWFPBj2adf4Yvw.ttf) format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
span,
footer {
  font-family: 'Sulphur Point', sans-serif;
}
body {
  background-color: #1b1d1f;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1b1d1f;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.container .special {
  color: #ff7fa1;
}
.container h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  line-height: 1.5;
}
@media (max-width: 700px) {
  .container h1 {
    width: 70%;
  }
}
.container h3 {
  font-size: 2.5rem;
  color: #ff7fa1;
  margin-bottom: 10px;
}
.container p {
  font-size: 1.5rem;
  color: #fff;
  width: 40%;
  line-height: 1.5;
  font-weight: lighter;
  margin-bottom: 15px;
}
@media (max-width: 700px) {
  .container p {
    width: 70%;
  }
}
.container .icons i {
  margin: 0 10px 0 10px;
  color: #fff;
}
.container .icons i:hover {
  color: #ff7fa1;
  transition: 0.2s ease-in-out;
}
.sideNav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
  background-color: #333;
}
.sideNav span {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-style: none;
  display: block;
  padding: 30px 30px 30px 40px;
}
.sideNav span:hover {
  color: #ff7fa1;
  transition: 0.2s ease-in-out;
}
.sideNav a {
  font-size: 3rem;
  color: #fff;
  text-decoration: none !important;
  font-style: none !important;
  display: block;
  padding: 30px 30px 30px 40px;
}
.sideNav a:hover {
  color: #ff7fa1;
  transition: 0.2s ease-in-out;
}
.sideNav .closeBtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 3rem;
  cursor: pointer;
}
.open {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 3rem;
  color: #fff;
  padding: 30px 50px 30px 40px;
  transition: 0.5s;
  cursor: pointer;
}
.open:hover {
  color: #ff7fa1;
  transition: 0.5s;
}
@media (max-width: 700px) {
  header {
    margin-bottom: 50px;
  }
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about-container h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  line-height: 1.5;
}
.about-container p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.5;
  font-weight: lighter;
  margin-bottom: 15px;
  line-break: 0;
}
.about-container .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50%;
}
@media (max-width: 1000px) {
  .about-container .card {
    width: 100%;
  }
}
.about-container .card img {
  margin-bottom: 15px;
  width: 50%;
}
.about-container .card p {
  text-align: left;
  width: 50%;
}
@media (max-width: 1000px) {
  .about-container .card p {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .about-container .card p {
    width: 80%;
  }
}
.about-container .mySkills {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
}
@media (max-width: 1000px) {
  .about-container .mySkills {
    width: 80%;
    margin-bottom: 100px;
    justify-content: center;
  }
}
.about-container .mySkills .skills-img {
  width: 10%;
}
.about-container .mySkills .indie-skill {
  margin-bottom: 50px;
}
.about-container .mySkills .bar-contain {
  width: 100%;
  margin-top: 10px;
}
.about-container .mySkills .bar-contain .skills {
  height: 15px;
  background-color: #fff;
}
.about-container .mySkills .bar-contain .html {
  width: 0;
  transition: 1.5s;
}
.about-container .mySkills .bar-contain .css {
  width: 0;
  transition: 1.8s;
}
.about-container .mySkills .bar-contain .javascript {
  width: 0;
  transition: 2s;
}
.about-container .mySkills .bar-contain .react {
  width: 0;
  transition: 2.2s;
}
.about-container .mySkills .bar-contain .redux {
  width: 0;
  transition: 2.5s;
}
.about-container .mySkills .graph {
  display: flex;
  flex-direction: row;
}
.about-container .mySkills .graph p {
  width: 100%;
  font-size: 1rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  width: 100%;
}
.projects-container .special {
  color: #ff7fa1;
}
.projects-container h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  line-height: 1.5;
  margin-bottom: 25px;
}
.projects-container h3 {
  font-size: 2.5rem;
  color: #ff7fa1;
  font-weight: bold;
  line-height: 1.5;
}
.projects-container p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.5;
  font-weight: lighter;
  margin-bottom: 15px;
  line-break: 0;
}
.projects-container .project-card {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 700px) {
  .projects-container .project-card {
    width: 80%;
  }
}
.projects-container .project-card img {
  width: 100%;
  filter: grayscale(100%);
}
.projects-container .project-card img:hover {
  filter: grayscale(0);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.projects-container .card-body {
  width: 100%;
}
@media (max-width: 700px) {
  .projects-container .card-body {
    text-align: center;
  }
}
.projects-container .card-body h3 {
  text-align: left;
}
@media (max-width: 700px) {
  .projects-container .card-body h3 {
    text-align: center;
  }
}
.projects-container .card-body .icons i {
  margin-right: 10px;
  color: #fff;
}
.projects-container .card-body .icons i:hover {
  color: #ff7fa1;
  transition: 0.2s ease-in-out;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.contact-container .special {
  color: #ff7fa1;
}
.contact-container h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  line-height: 1.5;
}
@media (max-width: 700px) {
  .contact-container h1 {
    width: 70%;
  }
}
.contact-container p {
  font-size: 1.5rem;
  color: #fff;
  width: 40%;
  line-height: 1.5;
  font-weight: lighter;
  margin-bottom: 15px;
}
@media (max-width: 700px) {
  .contact-container p {
    width: 70%;
  }
}
.contact-container .icons i {
  margin: 0 10px 0 10px;
  color: #fff;
}
.contact-container .icons i:hover {
  color: #ff7fa1;
  transition: 0.2s ease-in-out;
}
.contact-container .spec-a {
  text-decoration: none;
  color: #fff;
}
.contact-container .spec-a:hover {
  text-decoration: underline;
  color: #ff7fa1;
  transition: 0.5s;
}
