.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: @h1;
    color: @font-primary;
    font-weight: bolder;
    line-height: 1.5;
  }

  p {
    font-size: @paragraph;
    color: @font-primary;
    line-height: 1.5;
    font-weight: lighter;
    margin-bottom: 15px;
    line-break: 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    // border: 1px solid #fff;
    width: 70%;

    @media @sm-laptop {
      width: 100%;
    }

    img {
      margin-bottom: 15px;
      width: 50%;
    }

    p {
      text-align: center;
      width: 50%;

      @media @tablet {
        width: 80%;
      }
    }
  }

  .mySkills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid #fff;

    @media @sm-laptop {
      // width: 80%;
      // margin-bottom: 100px;
      // justify-content: center;
    }

    .skills-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 50px;

      .skills-img {
        width: 5%;
        margin: 20px;

        @media @tablet {
          width: 10%;
        }
      }
    }
  }
}
